header{
   
   
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.header_wrapper{ height: 100px;
    display: flex;
}
.header_menu a {
    display: inline-block;
    color: #222222;
    padding: 15px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.header__right{
    font-size: 18px;
    gap: 10px;
}


@media only screen and (max-width:700px) {
    .header_menu{
        display: none;
    }
    .header__right{
        display: none;
    }
}